<form (ngSubmit) = "onSubmit(newPostData)" #newPostData="ngForm">
  <legend>Add Post</legend>

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title" required [(ngModel)] = "post.title">
  </div>

  
  <div class="form-group">
    <label for="">Author</label>
    <input type="text" class="form-control" id="author" name="author" placeholder="Enter the author" required [(ngModel)] = "post.author">
  </div>

  <div class="form-group">
    <label for="">Content</label>
    <input type="text" class="form-control" id="body" name="body" placeholder="Enter the content" required [(ngModel)] = "post.body">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
