.users li { cursor: default; }
.users li:hover { background: #ecf0f1; } 
.list-group-item.active, 
.list-group-item.active:hover { 
background-color: #ecf0f1;
border-color: #ecf0f1; 
color: #2c3e50;
}    