<app-user-form (userAddEvent) = "addUser($event)"></app-user-form>
<app-spinner [visible] = "isLoading"></app-spinner>
  <div class="row">
    <ul class="list-group">
      <li *ngFor="let eachUser of users" 
        (click) = "changeCurrentUser(eachUser)"
        [class.active] = "currentUser == eachUser"
        class="list-group-item users">
          <app-user [user] = "eachUser"
          (deleteEvent) = "deleteUser($event)"
          (updateEvent) = "updateUser($event)"></app-user>
          <h5>Titles:</h5>
          <ul>
            <li *ngFor ="let usetTitle of eachUser.postTitles">
              {{(usetTitle | async)?.title}} <small>{{(usetTitle | async)?.body}}</small>
            </li>
          </ul>
      </li>
    </ul>
  </div> 
  

