<span *ngIf="!isEdit">
   Title: {{post.title}}
    Author: {{post.author}}
    Content: {{post.body}}
</span>
<span *ngIf="isEdit">
    Title: <input type="text" [(ngModel)] = "post.title">
    Author: <input type="text" [(ngModel)] = "post.author">
    Content: <input type="text" [(ngModel)] = "post.body">
</span>
<button (click) = "sendDelete()" type="button" class="pull-right btn btn-danger btn-xs">Delete</button>
<button (click) = "toggleEdit()" type="button" class="pull-right btn btn-info btn-xs" style="margin-right: 5px">{{editButtonText}}</button>
<button *ngIf="isEdit" (click) = "cancelEdit()" type="button" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px">Cancel</button>