<h1>
  {{title}}
</h1>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </li>
    <li>
      <a routerLink="/posts" routerLinkActive="active">Posts</a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>
