<form (ngSubmit) = "onSubmit(newUserData)" #newUserData="ngForm">
  <legend>Add User</legend>

  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required [(ngModel)] = "user.name">
  </div>

  
  <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" required [(ngModel)] = "user.email">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

