 <app-post-form (postAddEvent) = "addPost($event)"></app-post-form>
 <app-spinner [visible] = "isLoading"></app-spinner>
 <div class="row">
    <ul class="list-group">
      <li *ngFor="let eachPost of posts" 
        (click) = "changeCurrentPost(eachPost)"
        [class.active] = "currentPost == eachPost"
        class="list-group-item posts">
          <app-post [post] = "eachPost"
          (deleteEvent) = "deletePost($event)"
          (updateEvent) = "updatePost($event)"></app-post>
          <h5>Authors:</h5>
          <ul>
            <li *ngFor ="let postAuthor of eachPost.authorNames">
              {{(postAuthor | async)?.name}} <small>{{(postAuthor | async)?.email}}</small>
            </li>
          </ul>
      </li>
    </ul>
  </div>
