<span *ngIf="!isEdit">
   Name: {{user.name}}
    Email: {{user.email}}
</span>
<span *ngIf="isEdit">
    Name: <input type="text" [(ngModel)] = "user.name">
    Email: <input type="text" [(ngModel)] = "user.email">
</span>
<button (click) = "sendDelete()" type="button" class="pull-right btn btn-danger btn-xs">Delete</button>
<button (click) = "toggleEdit()" type="button" class="pull-right btn btn-info btn-xs" style="margin-right: 5px">{{editButtonText}}</button>
<button *ngIf="isEdit" (click) = "cancelEdit()" type="button" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px">Cancel</button>